@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F8FAFC;
  --foreground: #000000;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Outfit", serif;
}

/* COLORS */

.dark-yellow-bg {
  background-color: #E9A23B;
}
.dark-yellow-text {
  color: #E9A23B;
}
.dark-yellow-border {
  border-color: #E9A23B;
}

.light-yellow-bg {
  background-color: #F5E8D5;
}
.light-yellow-text {
  color: #F5E8D5;
}
.light-yellow-border {
  border-color: #F5E8D5;
}
